In [7]:
import pandas as pd
import zipfile
import csv
import random
import time
import numpy as np
from scipy import sparse as sp
from scipy.sparse.linalg import norm
import sklearn.preprocessing as pp
import pickle

In [2]:
zf = zipfile.ZipFile('h-and-m-personalized-fashion-recommendations.zip')

In [3]:
#Customers datafile
customers = pd.read_csv(zf.open('customers.csv'))

In [2]:
### Start Here

filehandler = open("transactions_6mth.pkl", "rb")
transactions_6mth = pickle.load(filehandler)
filehandler.close()
transactions_6mth

,t_dat,customer_id,article_id,price,sales_channel_id
16118327,2019-09-01,02dd164d87472e7311cd12ea8df993b4a084ad528ed4af...,552716001,0.033881,2
16118467,2019-09-01,046c9b461a6f7a92512c73080f9dd85980e2e421a49f11...,562245046,0.033881,2
16118468,2019-09-01,046c9b461a6f7a92512c73080f9dd85980e2e421a49f11...,562245046,0.033881,2
16118668,2019-09-01,06207e084340d4a79aab1bfa0e5b5a63d9b7e89e665112...,160442043,0.013542,1
16119188,2019-09-01,0af4ebb4b23fc037e593c0e9a33cf53fc0ee37dd6ce35c...,711053007,0.013542,1
...,...,...,...,...,...
31788300,2020-09-22,ffc2e7c210e3ea602e6d229116773cc0588c929f8cc70b...,858856002,0.042356,1
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [3]:
test = transactions_6mth.loc[transactions_6mth.t_dat >= '2020-09-16',:]
train = transactions_6mth.loc[transactions_6mth.t_dat < '2020-09-16',:]

In [40]:
print(train.article_id.nunique())
print(test.article_id.nunique())
print(transactions_6mth.article_id.nunique())

6185
6206
6206

# Data Prep

In [5]:
customerIds = train.customer_id.unique()
customerIds.sort()
articleIds = train.article_id.unique()
articleIds.sort()

m = customerIds.size
n = articleIds.size
numTrans = len(train)

customerIds_to_customerIdsIDX = dict(zip(customerIds, range(0, customerIds.size )))
customerIDX_to_customerId = dict(zip(range(0, customerIds.size), customerIds))

itemId_to_itemIDX = dict(zip(articleIds, range(0, articleIds.size)))
itemIDX_to_itemId = dict(zip(range(0, articleIds.size), articleIds))

train['rating'] = list(np.full(len(train), 1))

df = pd.concat([train['customer_id'].map(customerIds_to_customerIdsIDX), train['article_id'].map(itemId_to_itemIDX), train['rating']], axis=1)
df.columns = ['customer', 'item', 'rating']
df.sort_values(by = 'customer', inplace = True)


display(df.head())

C:\Users\Blake\AppData\Local\Temp/ipykernel_9540/3202145238.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['rating'] = list(np.full(len(train), 1))

          customer  item  rating
29794828         0  3817       1
31140487         0  5156       1
30180376         0  4502       1
31412223         0  4103       1
31140486         0  5055       1

In [6]:
#df = df.loc[df.customer < 100,:]

In [7]:
df_trans_pic = pd.concat([train['t_dat'], train['customer_id'].map(customerIds_to_customerIdsIDX), train['article_id'].map(itemId_to_itemIDX)], axis=1)
df_trans_pic.columns = ['date','customer', 'item']
df_trans_pic

          customer  item  rating
29794828         0  3817       1
31140487         0  5156       1
30180376         0  4502       1
31412223         0  4103       1
31140486         0  5055       1
...            ...   ...     ...
28223529     11742  2550       1
28516682     11742  1927       1
28516683     11742  4425       1
30916081     11742  2680       1
31452489     11742  1248       1

[242174 rows x 3 columns]

# Create ratings matrix

In [8]:
R = sp.csr_matrix((df.rating, (df.customer, df.item)))
R_dok = R.todok()

In [9]:
m = R.shape[0]
n = R.shape[1]
numRatings = R.count_nonzero()

print("There are", m, "users,", n, "items and", numRatings, "ratings.")

There are 11743 users, 6185 items and 194599 ratings.

In [10]:
R_copy = R.copy()
user_cnts = (R != 0).sum(axis=1).A1
user_norm = np.sqrt(R_copy.power(2).sum(1)).A1

# set scaling of rows with 0 zero to 0
zero_index = user_norm == 0
user_norm[zero_index] = 1
user_scales = 1 / user_norm
user_scales[zero_index] = 0

R_copy.data = R_copy.data * np.repeat(user_scales, user_cnts)

In [11]:
def compute_pairwise_user_similarity(u_id, v_id):
    u = R[u_id,:].copy()
    v = R[v_id,:].copy()
    
    numerator = u.dot(v.T)
    denominator = norm(u)*norm(v)
    #print(u)
    #print(norm(v))
    #print(v)
    
    if denominator == 0:
        similarity = 0.;
    else:
        similarity = (numerator/denominator).A.item()
    
    return similarity

In [12]:
def compute_user_similarities(u_id):
    uU = np.empty((m,))
        
    uU = (R_copy.dot(R_copy[u_id,:].T)).A.flatten()
    
    ##############################
    ## Mat.dot(Vec.T) is actually same as Mat @ Vec.T
    ##############################
    
    
    # YOUR CODE HERE
    #for i in range(uU.size):
    #    uU[i] = compute_pairwise_user_similarity(u_id, i)
    
    #raise NotImplementedError()
    
    return uU

In [13]:
def create_sim_list(u_id):
    uU = compute_user_similarities(u_id)
    uU_copy = uU.copy() ## so that we can modify it, but also keep the original
    
    # YOUR CODE HERE
    uU_copy = np.delete(uU_copy, u_id)

    # Sort array    
    sort_order = np.argsort(uU_copy)[::-1]
    uU_copy = uU_copy[sort_order]

    users_sorted = list(df.customer.unique())
    users_sorted = np.delete(users_sorted, u_id)
    users_sorted = users_sorted[sort_order]
    
    return users_sorted

In [14]:

def get_prediction(uU, users_sorted, i_id, n_neighbor):
    nh_user = []
    nh_sim = []
    
    i = 0
    while len(nh_sim) < n_neighbor:
        user_i = users_sorted[i]
        #print(nh_sim)
        #print(user_i)
    	#uU[user_i])
        if (user_i, i_id) in R_dok:
            nh_sim.append(uU[i])
            nh_user.append(user_i)
        i += 1
        #print(i)
        if i == len(uU):
            break

    prediction = sum(nh_sim)
    
    return prediction

In [15]:
def get_recommendations(u_id, n_neighbor, n_item_recommend):
    # get user similarities
    uU = compute_user_similarities(u_id)
    uU_copy = uU.copy() ## so that we can modify it, but also keep the original

    # Sort arrays by highest sim
    sort_order = np.argsort(uU_copy)[::-1]
    uU_copy = uU_copy[sort_order]
    
    # delete the user from the sim list
    uU_copy = np.delete(uU_copy, 0)

    users_sorted = np.array(df.customer.unique())
    users_sorted = users_sorted[sort_order]
    users_sorted = np.delete(users_sorted, 0)
    
    item_arr = np.array(df.item.unique())
    pred_arr = np.zeros(len(item_arr))
    k = n_neighbor
    i = 0
    for i_id in item_arr:
        #print(u_id, i_id)
        prediction = get_prediction(uU_copy, users_sorted, i_id, n_neighbor)
        pred_arr[i] = prediction
        i += 1
    
    item_sort_order = np.argsort(pred_arr)[::-1]
    item_arr = item_arr[item_sort_order][0:n_item_recommend]
    
    return item_arr

In [34]:
start = time.perf_counter()

rec_dict = {}

customer_list = df.customer.unique()[500:700]

for u_id in customer_list:
    recs = get_recommendations(u_id, n_neighbor = 5, n_item_recommend = 12)
    rec_dict[u_id] = recs

end = time.perf_counter()
end - start

3191.5678844

In [23]:
#recs = get_recommendations(1, n_neighbor = 5, n_item_recommend = 12)

In [24]:
rec_dict

{0: array([1174, 2412, 4290, 4339, 3694, 3841, 5199, 4296, 5955, 3202, 5971,
        4916], dtype=int64),
 1: array([ 881, 1290, 1366, 1797, 4879, 1371, 1300,  413, 1716, 4189,  766,
         839], dtype=int64),
 2: array([2045, 2047,  308,  148, 3545, 2053, 1047,  967, 1146, 3242, 1291,
        2046], dtype=int64),
 3: array([ 398, 4706, 2804, 1047, 1211,  144, 2445, 5667, 2961, 5785, 2045,
        1003], dtype=int64),
 4: array([ 881, 1290, 1448, 2997, 4189,  413,  766,  839, 1716, 1300, 2182,
        2186], dtype=int64),
 5: array([ 881, 1290, 4919, 2997, 2548, 3482, 2107, 4106, 4641, 1938,  331,
        4097], dtype=int64),
 6: array([ 176, 2515, 2735, 3385, 5462, 3892, 1163, 3612, 4996, 4999,  767,
        4814], dtype=int64),
 7: array([1508, 5604, 4351, 1098, 2250, 4974, 3483, 5665,  454, 5109, 3499,
        2293], dtype=int64),
 8: array([1047, 2045, 1705, 5345, 1532,  148, 4467,  967, 5578, 1922, 4443,
        5604], dtype=int64),
 9: array([1461,  785, 3007, 1047, 1705, 5345, 6086,  269, 5138, 5843, 1532,
        4003], dtype=int64),
 10: array([1922, 1921, 3483,  766, 1986, 4814, 5665, 2514, 3045, 2624, 1929,
        2803], dtype=int64),
 11: array([1700, 1290, 1508, 1704, 1293,  144, 1291, 1271, 1703,   90, 2264,
        3592], dtype=int64),
 12: array([1461, 1460, 1462, 2415,  785, 2021, 1705, 4165,  350, 1467, 3372,
        1464], dtype=int64),
 13: array([2047, 1401, 2615, 2295,  291, 1796,  296, 2618, 2627, 2049, 3300,
        4494], dtype=int64),
 14: array([5665,  262, 4098, 1391, 2248, 1100, 3122, 2107, 4097, 3932, 3096,
        5216], dtype=int64),
 15: array([ 255, 1938, 1937, 1507, 1138, 3044, 5297, 1557, 1679,    3,   34,
         144], dtype=int64),
 16: array([4524,  282, 5874,  663, 4706, 2399, 2961, 6014, 2617,  371, 2195,
        1635], dtype=int64),
 17: array([ 100, 2887,  101,  709, 1743,  886,  831, 5604, 1441, 1076,  309,
        3119], dtype=int64),
 18: array([ 370, 2834,  148,  967, 2047,  759, 1078, 1743, 3485, 3578, 4805,
        1290], dtype=int64),
 19: array([1047,  785,  967, 1705, 5578, 4165, 2415,  350, 2021, 1461, 3045,
         736], dtype=int64),
 20: array([ 144,  881, 4041, 1938, 1922, 5415, 5874, 3182, 2418,  331,  528,
        1700], dtype=int64),
 21: array([ 148, 5665,  967, 5449, 1391, 2248, 1922, 4098, 1456, 3932, 3096,
        4097], dtype=int64),
 22: array([2045, 2047, 1047, 2046,  967,  160,  148, 3545, 2053,  308, 2248,
        1919], dtype=int64),
 23: array([  51,  146, 1796,   39,  654,  653, 3724,  145,   49, 2330,  755,
        1084], dtype=int64),
 24: array([2047, 2049,  296, 3300, 2627, 4494,  291, 1401,  299, 2615, 2618,
        2295], dtype=int64),
 25: array([1460, 1462, 1461,  488, 2248, 1464, 1180,    9, 4592, 5541,  617,
        1750], dtype=int64),
 26: array([4706, 5576,  831, 4708, 4472, 2804, 1211,  398, 2248, 3122,    9,
        3091], dtype=int64),
 27: array([5604, 5665, 1922, 2047,  283, 3356,  831, 3939,    1,  709, 1921,
        1508], dtype=int64),
 28: array([1463, 1750, 2888, 1656, 1462, 4443, 1460, 5415, 1651, 2150, 1095,
        1094], dtype=int64),
 29: array([ 881, 1290, 5414, 1461, 4443, 3483, 1986,  435, 1260,  527, 1467,
        1991], dtype=int64),
 30: array([2045, 2046, 1047, 2047,  148,  160, 2597, 5579, 5578, 6073, 2485,
         186], dtype=int64),
 31: array([ 148, 1290,  967, 1038, 1817, 2972, 2834,  881, 1321, 1743, 5752,
         247], dtype=int64),
 32: array([  51, 3448, 5276, 1016, 2941,  477, 2218,  919, 4449, 4448,  989,
         475], dtype=int64),
 33: array([ 398, 1291, 3242, 4275, 2804, 1016, 1912,  831,  242, 1938,  241,
        1211], dtype=int64),
 34: array([1047,  398, 2445, 1852,  289, 2045, 4494,  291,  287, 3161, 1003,
         265], dtype=int64),
 35: array([2047,  759, 1981, 5895, 1156,  752,  231, 2212,  169, 3241, 4870,
        4477], dtype=int64),
 36: array([ 762,  755, 1084, 2330,   49,  145,  146, 3724,  653,  654,   39,
        1796], dtype=int64),
 37: array([4708, 1400, 4052, 4542, 5000, 4934, 4275, 4472, 1290, 1391, 2248,
        2972], dtype=int64),
 38: array([4443, 1986, 4467, 5874, 4524, 5414, 1750, 3141, 5888, 3180, 1549,
        1991], dtype=int64),
 39: array([ 176, 2515, 2735, 3385, 5462, 3892, 1163, 3612, 4996, 4999,  767,
        4814], dtype=int64),
 40: array([5414, 3499, 4443,  663, 2150, 3498, 1463, 5415, 2843, 1750, 2888,
         374], dtype=int64),
 41: array([5194, 1153,  839, 2480, 5041,  587, 3500, 4806, 6119, 5039, 1456,
        5975], dtype=int64),
 42: array([1290,  148,  881,  967, 2045, 2248, 4098, 1572, 5449,  410, 2107,
        2047], dtype=int64),
 43: array([ 746,  759, 2047, 1291, 1293, 2404, 2500, 3455, 1475, 2984, 4716,
        3200], dtype=int64),
 44: array([1700, 5665, 1291, 1704,  144,  624,  510,  769, 4121, 1835, 2239,
        4427], dtype=int64),
 45: array([1291, 1508, 1704, 1700,  255, 5604, 3592,  746, 1293, 1271, 1581,
        2264], dtype=int64),
 46: array([2291, 1258, 1850, 1327, 1364, 3356, 3860, 3227, 4974, 4351, 3853,
        4672], dtype=int64),
 47: array([ 100,  101,  831,  709, 1933,  267, 5220, 4936, 1576,  785, 1743,
        2877], dtype=int64),
 48: array([1004, 1024, 1101, 1205, 1010, 1003,  513,  510, 1210, 2402, 4587,
         330], dtype=int64),
 49: array([3499,  148, 5666, 1456, 1893, 5665, 1457, 5216, 3639, 5042, 4871,
        5975], dtype=int64),
 50: array([1460, 1461, 1462, 1467, 1750, 1464, 1321, 2843, 3372, 4443,  663,
        3498], dtype=int64),
 51: array([1461, 2972, 4235, 1290,  148, 4716, 1391, 2248,  785, 4097,  940,
         370], dtype=int64),
 52: array([2045, 2047, 1047,  308, 3545, 2053,  967, 5578, 3482,  148,  160,
        2046], dtype=int64),
 53: array([1796, 2295, 2627, 2615,  296, 2618, 3300,  299, 4494,  291, 1401,
        2049], dtype=int64),
 54: array([ 101,  657, 1004, 1010,  100,  886,  964, 5303, 1024, 1205, 1101,
        1003], dtype=int64),
 55: array([1290,  881,  148,  262, 5665, 5216, 4098, 1461, 2248, 2107,  484,
         964], dtype=int64),
 56: array([1010,  398, 1003, 4275, 4885,  831, 2804, 1009, 1004, 1211,  993,
         830], dtype=int64),
 57: array([ 320,  398,  513,  510, 1010,  964, 1004, 1003, 1101, 5830, 4098,
        4341], dtype=int64),
 58: array([2293, 5874, 1463, 5415, 2150, 3964, 4307, 4970, 1397,  124, 4852,
        1950], dtype=int64),
 59: array([ 881,  887, 1290, 1921, 2186, 2182, 4926, 1638, 2738, 1689, 2651,
         606], dtype=int64),
 60: array([1797,  123, 4323, 1149, 3020,  303, 2578, 1147,  882,  881,  103,
        1148], dtype=int64),
 61: array([ 831, 1464, 5604,  101, 4275, 4524, 1163,  663,  144, 1938,  398,
        5220], dtype=int64),
 62: array([5415, 4041,  100,  831, 2223, 2535, 5874, 1321,  709, 1463, 5414,
        4443], dtype=int64),
 63: array([1700, 1291, 1704,  255, 3278,  144, 1938, 1707,  707,  697, 1507,
          20], dtype=int64),
 64: array([2047, 2045, 1796, 2445, 4494,  289, 5220, 2961,  461,  291,  339,
         265], dtype=int64),
 65: array([ 785, 1461, 2021, 1705,  350, 2415, 4165, 1986, 3483, 3356,  967,
        5414], dtype=int64),
 66: array([1700, 1704, 1291, 1321, 1290,  255, 3278, 1711, 1709, 1298,  702,
        1296], dtype=int64),
 67: array([5874, 4524, 3194, 1887, 3483, 5875, 1886, 5829, 1461, 4041, 5415,
        2535], dtype=int64),
 68: array([1460, 1462, 1461, 2248,  488,  410, 1467, 4098, 1464, 2355, 5328,
        1222], dtype=int64),
 69: array([ 881, 1462,  617, 2997, 1986, 1750, 4467, 1991, 1987, 2293, 2045,
        4919], dtype=int64),
 70: array([1047, 4235, 1922, 2045, 2972,  780,  484, 2046, 2248, 1402, 1161,
        3240], dtype=int64),
 71: array([ 881, 1290,  766,  839, 1300,  413, 1716, 4189, 2107, 1649,  331,
        4300], dtype=int64),
 72: array([ 510, 1024, 5657,  527, 1260,  435, 4341, 1649,  881,  513, 1010,
         457], dtype=int64),
 73: array([1047,  967, 2045, 5578, 1532, 1705, 5345, 3483, 1986, 4244,   16,
         160], dtype=int64),
 74: array([5665,  262,  510, 3641, 1922, 4098, 1456,  148, 3639, 5666, 5216,
        1457], dtype=int64),
 75: array([1460, 1461, 1462,  617, 1397, 5415, 2259, 2342, 1507, 5414, 1464,
         830], dtype=int64),
 76: array([1460, 1464, 1461, 1462, 2047,    9, 2877, 1224, 2834,  410,   47,
         160], dtype=int64),
 77: array([ 663, 2399, 2961, 6014, 2617,  371, 2195, 1635,  664,  283,  368,
        4990], dtype=int64),
 78: array([2045, 2047, 2046, 1047,  967, 1986, 3545,  308, 2053, 5414, 4443,
        3483], dtype=int64),
 79: array([1986, 4467,   51, 5414, 1991, 2595, 1463, 4443, 1462, 1750, 3499,
         398], dtype=int64),
 80: array([2107, 4300,  881, 2033, 4403,  249, 3133,  922, 1849, 3293,  150,
        3053], dtype=int64),
 81: array([1460,  327,  488, 1462,    9, 3034,  160, 1048, 1467, 1619, 2672,
          95], dtype=int64),
 82: array([2047, 2045,  746, 1461,  738, 2834, 1743, 3198, 1312, 4271, 3545,
        2355], dtype=int64),
 83: array([1461, 3087, 4235,  484, 2972, 3122, 3614, 3515, 2047, 4159,  223,
        1754], dtype=int64),
 84: array([ 282,  148,  144, 3608, 1884, 4890, 6013, 4524, 5800, 2229, 2878,
        1548], dtype=int64),
 85: array([ 160, 1048,   47,  410, 4138, 1464,  128, 1264,  664, 1224,    9,
        4625], dtype=int64),
 86: array([5874, 5415, 2535, 4041, 2223, 4524, 2581, 3568, 1805, 2108, 3573,
        5941], dtype=int64),
 87: array([2045, 1047, 2047,  398,   16, 1211,  967,  831, 1010, 2046, 2804,
        5578], dtype=int64),
 88: array([ 881, 1290, 2107,  887, 1464, 1716,  413, 1300,  766, 4189,  839,
         409], dtype=int64),
 89: array([ 370, 4098, 6085,  395, 3077, 3559, 2657, 1224, 5176, 5677, 2355,
        1460], dtype=int64),
 90: array([ 148,  967, 2597, 1047,  160, 2045, 5449, 5578, 1928, 6032,   16,
        1919], dtype=int64),
 91: array([2997, 1922, 2293, 2096, 3717, 2047, 3545, 2514, 1364, 4097, 1938,
        2445], dtype=int64),
 92: array([ 148, 5665,  262, 5216, 1100, 5604, 1817, 1456,  454, 2972, 2597,
        3086], dtype=int64),
 93: array([4708, 3911, 1379, 2539, 3985, 4984,  782, 4434, 4748, 3204, 3652,
        2837], dtype=int64),
 94: array([2293,  664, 1938,  144,  282, 5415, 4307, 4041, 2096,  255, 1488,
        5303], dtype=int64),
 95: array([ 148,  664,  282, 5303, 1938, 1937, 1475,   34,  255, 1555, 1213,
        3128], dtype=int64),
 96: array([ 350, 1461, 4919, 4688, 4165, 2415, 1705, 2021,  785, 5171, 1734,
        3936], dtype=int64),
 97: array([2047, 5604, 1460,  766, 3483, 2834, 1224,  664, 5849, 2045,  663,
         276], dtype=int64),
 98: array([ 964, 1855, 1101, 2890, 1418, 5604, 1078, 1572, 3356, 3529, 4311,
         184], dtype=int64),
 99: array([4098, 4235, 3122, 2972, 3939, 5668, 1047,  964, 1010, 2045,  370,
        2890], dtype=int64)}

In [ ]:
# Save UU recommendations
import pickle  
filehandler = open("uu_dict.pkl", 'wb') 
pickle.dump(rec_dict, filehandler)
filehandler.close()

In [110]:
# Open UU recommendations
filehandler = open("uu_dict.pkl", "rb")
output = pickle.load(filehandler)
filehandler.close()

dict

# Evaluate Recommendations

### Note: data needed to be evaluated in pieces due to computation

In [29]:
def calc_cust_precision(u_id):
    ground_truth = cust_orders[u_id]
    hits_list = (np.isin(rec_dict[u_id], ground_truth))*1
    ap = 0 ## average precision
    hits = np.sum(hits_list)
    relevant_n = len(ground_truth)

    if (hits != 0):
        for rank in range(1,len(hits_list)+1):
            # update ap on hit items
            hit = hits_list[rank-1]
            if hit:
                rank_hit_list = hits_list[0:rank]
                prec_i = np.mean(rank_hit_list)
                ap += prec_i  
        ap /= (min(relevant_n, 12))
    
    return ap

In [30]:
test_df = pd.concat([test['customer_id'].map(customerIds_to_customerIdsIDX), test['article_id'].map(itemId_to_itemIDX)], axis=1)
test_df.columns = ['customer', 'item']
test_df.sort_values(by = 'customer', inplace = True)

cust_orders = test_df.groupby("customer")["item"].unique()

display(test_df.loc[test_df.customer == 1])

          customer    item
31723329       1.0  1795.0
31723330       1.0   593.0

In [35]:
ap_u = 0.

for u_id in customer_list:
    ap_u += calc_cust_precision(u_id)
mean_ap = ap_u / len(customer_list)

In [38]:
mean_ap

0.05023826058201057

In [37]:
sum_ap_500_700 = mean_ap*len(customer_list)
#total

filehandler = open("sum_ap_500_700", 'wb') 
pickle.dump(sum_ap_500_700, filehandler)
filehandler.close()

In [44]:
#filehandler = open(str(x), "rb")
#sum_ap_0_test = pickle.load(filehandler)
#filehandler.close()
#print(sum_ap_0_test)

1

In [29]:
# get all of the saved files
sum_list = []

file_list = ['sum_ap_100', 'sum_ap_200', 'sum_ap_500_700', 'sum_ap_700_1000', 'sum_ap_1000_1500', 'sum_ap_9000_11743']
for file in file_list:
    
    filehandler = open(file + '.pkl', "rb")
    sum_i = pickle.load(filehandler)
    filehandler.close()
    sum_list.append(sum_i)

In [31]:
# Check if each metric seems reasonable
div_list = [100,300,200,300,500,11743-9000]

res = [i / j for i, j in zip(sum_list, div_list)]
print(sum_list)
print(div_list)
print(res)

[6.056878306878306, 15.61100609267276, 10.047652116402114, 17.820128066378068, 20.8424062049062, 139.6703869047619]
[100, 300, 200, 300, 500, 2743]
[0.060568783068783064, 0.05203668697557587, 0.05023826058201057, 0.05940042688792689, 0.0416848124098124, 0.050918843202610975]

In [32]:
np.sum(sum_list)/np.sum(div_list)

0.05069960359449659